h1{
    text-align: center;
    margin: auto;
    width: 400px; 
    border: 3px solid green;
    padding: 10px;
    list-style: none;
}

h2{
    text-align: center;
    margin: auto;
    width: 400px; 
    border: 3px solid green;
    padding: 10px;
    list-style: none;
}


